<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="report.Properties.Settings.bds_pp_srctConnectionString"
            connectionString="Data Source=DESKTOP-IUTHPCG\SQLEXPRESS;Initial Catalog=bds_pp_srct;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>